<label style="font-size: 25px">Buscar:</label>
<div id="caja1">
    <select class="form-control" name="sel1" style="width: 150px;">
        <option>Nombre</option>
        <option>ID</option>
        <option>Apellido</option>
        <option>Alias</option>
        <option>Email</option>
        <option>Dirección</option>
    </select><br>
    <input type="text" placeholder="Buscar" name="filtrado" id="filtrado"  class="form-control">
    <br>
    <a class="btn btn-default" id="filtrar" role="button">
        <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Buscar
    </a>
    <a class="btn btn-default" id="limpiar" role="button">
        <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Limpiar
    </a>

</div>
<br>

<!-- templates/lista-persona-tmpl -->
<div class="panel panel-default">
    <div class="panel-heading">Listado de personas</div>
    <div class="panel-body">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Alias</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>Fecha de creación</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <% _.forEach(collection, function(item){ %>
                    <tr>
                        <td>
                            <%=item.id %>
                        </td>
                        <td>
                            <%=item.nombre %>
                        </td>
                        <td>
                            <%=item.apellido %>
                        </td>
                        <td>
                            <%=item.alias %>
                        </td>
                        <td>
                            <%=item.telefono %>
                        </td>
                        <td>
                            <%=item.email %>
                        </td>
                        <td>
                            <%=item.direccion %>
                        </td>
                        <td>
                            <%=item.fechaCreacion %>
                        </td>
                        <td>
                            <button name="eliminar" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>
<!-- Fin templates/lista-persona-tmpl -->